TextMessage {
    display: flex;


}


.cloud {
    position: absolute;
    background-color: darkblue;
    width: 200px;
    border-radius: 10px;
    margin-top: 15px;


}

.cloud:after {
    position: absolute;
    content: ' ';
    left: 8px;
    border: 8px solid;
    border-color: darkblue transparent transparent darkblue;
}

.textMessage {
    /*font-size: 13px;*/
    color: white;
    line-height: 30px;
    margin-left: 5px;
    text-align: left;
    width: 190px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis
}

.time {
    color: white;
    text-align: end;
    font-size: 0.7em;
    margin-right: 5px;


}

.name {
    margin-top: 3px;
    margin-left: 5px;
    text-align: left;
    font-size: 0.7em;
    color: white;
}